.icon
{
	width: 5%;
	/*float: right;*/
}

.test
{
	width: 350px;
}

.badge_float
{
	float: right;
	margin-right: 2%;
}

.btn_buy_right
{
	float: right;
	margin-right: 2%;
}

.float_r
{
	float: right;
}

