#p20_20, #p19_20, #p18_20, #p17_20, #p16_20, #p15_20, #p14_20, #p20_19, #p19_19, #p18_19, #p17_19, #p16_19, #p15_19, #p14_19 { background-color:#176B06; }
#p80_95, #p81_95, #p82_95, #p83_95, #p84_95 { background-color:#EAB4FD; }
#p25_20, #p25_19, #p25_18, #p25_17, #p25_16, #p25_15, #p25_14, #p24_20, #p24_19, #p24_18, #p24_17, #p24_16, #p24_15, #p24_14 { background-color:#176B06; }
